html {
    background: url("img/img1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.genPassword {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 400px;
}


.genPassword > p {
    color: white;
    font-size: 60px;
    font-family: system-ui;
}

.genPassword__block {
    position: relative;
    width: 535px;
    height: 56px;
    border: 1px solid #d4d2e6;
    border-radius: 24px;
    background-color: #fff;
    box-sizing: content-box;
    transition: border .3s;
    margin-top: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.genPassword__block__status {
    font-size: 13px;
    letter-spacing: 2px;
    padding: 0 1rem;
    height: 2rem;
    color: #fff;
    background-color: #f5203e;
    text-transform: uppercase;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    border-radius: 0.5rem;
    margin-right: 10px;
}

.genPassword__length {
    display: flex;
}

.genPassword__symbols {
    display: flex;
}

.genPassword__buttons {
    display: flex;
    flex-direction: column;
}